@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Roboto:wght@400;500;700&display=swap');

/* font-family: 'Arvo', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  color: #FAF8F7;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(31, 31, 31, 0.7), rgba(34, 34, 34, 0.7)),
    url(assets/maxime-niyomwungeri.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
  body {
    width: 750px;
  }
}

@media (min-width: 992px) {
  body {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1170px;
  }
}